<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Perfil</h3>
        </div>
        <div class="panel-body">
          <%= image_tag current_user.avatar, class: "center-block img-circle", alt: "user-avatar", height: '80px', width: '80px' %>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">8</span>
              Projetos
            </li>
            <li class="list-group-item">
              <span class="badge">100</span>
              Commits
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Badges</div>
        </div>

        <div class="panel-body">
          <div class="th-badge">
            <%= image_tag image_path('badges/teamhero.png'), width: '75px', height: '75px' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
