<div class="row">
  <div class="col-md-8 panel panel-default">
    <div class="panel-body">
      <%= link_to project.name, organization_project_path(params[:id], project.id) %>
    </div>
  </div>
</div>
