<div class="container">
  <div class="row">
    <div class="well col-md-8">
      <h2>Badges</h2>
      <div class="row">
        <%= render partial: 'badge', collection: @badges %>
      </div>
    </div>
  </div>
  <%= render partial: 'project', collection: @projects %>
</div>
